<configuration>
  <system.webServer>
    <handlers>
      <!-- Tell IIS to use iisnode to run index.js -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- Route all requests to index.js -->
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: log requests -->
    <iisnode loggingEnabled="true" logDirectory="iisnode"/>
  </system.webServer>
</configuration>